* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('4240163.jpg');
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

form {
    width: 700px;
    padding: 32px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
}

input, textarea {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    color: white;
}

legend {
    padding: 0 6px;
}

fieldset {
    padding: 15px;
    border-radius: 8px;
    border: 1px solid grey;
    margin-bottom: 10px;
}

#dados-pessoais {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

#dados-pessoais input {
    width: 80%;
}

#habilidades {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

#habilidades label {
    display: flex;
    gap: 5px;
}

#habilidades label:not(:last-child) {
    margin-bottom: 8px;
}

#habilidades > p {
    grid-column: span 2;
    margin-bottom: 8px;
}

textarea {
    width: 100%;
    resize: none;
}

#sobre > p {
    margin-bottom: 8px;
}

#sobre span{
   position:absolute;
   right: 0px;
   bottom: 0px;
   transform: translate(-40%, -50%);

}

#sobre div {
    position: relative;
}

#feedback > div {
    display:flex;
    gap: 32px;
}

#feedback label {
    display: flex;
    gap: 3px;
}

#feedback > p {
    margin-bottom: 8px;
}

form > div label {
    display: flex;
    gap: 8px;
}

form > div {
    margin-bottom: 15px;
}

#button {
    width: 100%;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    background-color: green;
    color: white;
    font-weight: 700;
}